<div class="top-bar">
	<div class="content-box">
    	<h1>Rails Project - Alpha Blog</h1>
      <div class="link-right"><%= link_to 'Home', root_path %></div>
    </div>
</div>
<div class="header-space">

</div>
<div class="hp-info-space">
	<div class="content-box">
    	<h2>About Alpha Blog</h2>
        <p>Alpha Blog is the name of the application I am working on. I am supposed to make an about page, so this is the about page.</p>
    </div>
</div>