<footer class="footer">
  
  <div class="container">
    <small>Build in conjunction with Udemy Rails class. &copy;</small>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </div>
  
</footer>